<h1>Welcome to George Washington University</h1>

<%= link_to "GWU Grades", new_grade_path %>

<%= render @grades %>

<!-- <pre>
  <code>
    <%= current_user.email if current_user %>
  </code>
</pre> -->
