<h1>Create Student</h1>
<%= form_for :user_id do |f| %>

  <%= f.label :full_name %>
  <%= f.text_field :user_id, class: 'form-control' %>

  <hr>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
